<% layout('layouts/boilerplate.ejs') %>
<header class="rt">
            <form>
                <select>
                    <option>All</option>
                    <% for (let group of groups) { %>
                        <option><%= group.name %></option>
                    <% } %>
                </select>
            </form>
        </header>
        <div class="flash on">New Contact Added</div>
        <section>
            <% for (let contact of contacts) { %> 
            <div class="name-wrapper list not-selected">
                <div class="letter"><%= contact.firstName[0].toUpperCase() %></div>
                <h2 class="contact-name"><%= contact.firstName %> <%= contact.lastName %></h2>
            </div>
            <% } %>
        </section>