<% layout('layouts/boilerplate.ejs') %>
<header class="rt">
            <form>
                <select>
                    <option>All</option>
                    <option>Family</option>
                    <option>Work</option>
                    <option>Gym</option>
                </select>
            </form>
        </header>
        <div class="flash on">New Contact Added</div>
        <section>
            <div class="name-wrapper list not-selected">
                <div class="letter">A</div>
                <h2 class="contact-name">Annie Atkins</h2>
            </div>
            <div class="name-wrapper list">
                <div class="letter">B</div>
                <h2 class="contact-name">Bob Baker</h2>
            </div>
            </div><div class="name-wrapper list">
                <div class="letter">C</div>
                <h2 class="contact-name">Connie Collins</h2>
            </div>
            <div class="name-wrapper list">
                <div class="letter">D</div>
                <h2 class="contact-name">David Davies</h2>
            </div>
        </section>