<% layout('layouts/boilerplate.ejs') %>
<header>
           <div class="name-wrapper">
                <h1 class="contact-name">Edit Group</h1>
            </div>
        </header>
        <div class="flash on">Group Name cannot be empty</div>
        <section class="info-card">
           <form id="group-form" method="post" action="/groups">
            <div class="form-field info">
                <label for="group">New Group Name: </label>
                <input type="text" name="group" id="group">
            </div>
            <div class="groups">
                <div class="group-title info"><span>Groups</span></div>
                    <div class="group-tags">
                        <% for (let group of groups) { %>
                            <div class="tag">
                                <label for="<%= group.name %>"><input type="checkbox" id="<%= group.name %>"><%= group.name %></label>
                            </div>
                        <% } %>
                </div>
                <input type="hidden" value="<%= returnTo %>" name="returnTo" />
           </form>
           <div class="button-section">
                <button form="group-form" class="btn">Save</button>
                <form action="">
                    <button type="submit" class="btn">Cancel</button>
                </form>
            </div> 
        </section>