<% layout('layouts/boilerplate.ejs') %>
<header>
            <div class="name-wrapper">
                <h1>Add Contact</h>
            </div>
        </header>
        <div class="flash on">New Group Added</div>
        <section class="info-card">
            <form id="add-form">
                <div class="form-field info">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div class="form-field info">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName">
                </div>
                <div class="form-field info">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-field info">
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" id="phone">
                </div>
                <div class="groups">
                    <div class="group-title info"><span>Groups</span><a href="#">+</a></div>
                    <div class="group-tags">
                        <div class="tag">
                            <label for="work"><input type="checkbox" id="work">Work</label>
                        </div>
                        <div class="tag">
                            <input type="checkbox" id="friends"><label for="friends">Friends</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="button-section">
                <button form="add-form" class="btn">Save</button>
                <button class="btn">Cancel</button>
            </div> 
        </section>