<% layout('layouts/boilerplate.ejs') %>
<header>
    <div class="name-wrapper">
        <div class="letter">A</div>
        <h2 class="contact-name">Annie Atkins</h2>
    </div>
    <a class="small-link">edit </phone></a>
</header>
<div class="flash on">New Group Added</div>
<section class="info-card">
    <div class="info"><div>Email</div><a class="info-link" href="mailto:charlake@yahoo.com">email@example.com</a></div>
    <div class="info"><div>Phone</div><a class="info-link" href="15553331212">+1 555 333 1212</a></div>
    <div class="groups">
        <div class="group-title info"><span>Group</span><a href="#">+</a></div>
        <div class="group-tags">
            <div class="tag"><div class="circle"></div>Family</div>
        </div>
    </div>
</section>
<div class="rt">
    <button class="btn">Close</button>      
</div>